<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<%- include('../partials/bootstrapCDN') %>
		<title>Document</title>
	</head>
	<body>
		<%- include('../partials/navbar', { title: 'Subscription', User })%>

		<div class="container">
			<h1>Subscription</h1>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Your Subscriptions</h2>
				</div>
				<div class="col-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>No.</th>
								<th>Starting Date</th>
								<th>Expiring In</th>
								<th>Subscription Price</th>
							</tr>
						</thead>
						<tbody>
							<% for (let i = 0; i < 3; i++) { if (!User.Subscriptions[i]) { break } %>

							<tr>
								<td><%= i + 1 %></td>
								<td><%= User.Subscriptions[i].startDate %></td>
								<td><%= User.Subscriptions[i].expiring() %></td>
								<td><%= User.Subscriptions[i].totalPrice %></td>
							</tr>

							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<form action="" method="post" class="col-12">
					<% for (const product of Products) { %>

					<div class="col-md-3 form-group text-center">
						<img src="#" alt="<%= product.productName %>" class="mx-auto d-block" />
						<label for="<%= product.productName %>"><%= product.productName %></label>
						<div>
							<button class="btn btn-primary btn-sm">-</button>
							<span id="<%= product.id %>">0</span>
							<button class="btn btn-primary btn-sm">+</button>
						</div>
					</div>

					<% } %>
				</form>
			</div>
		</div>

		<div class="table table-striped" style="width: 60%; margin: 0% auto;">
			<table>
				<tr>
					<th>Here are all the data from your subscriptions : </th>
				</tr>
			</table>
			<%for (let i = 0; i<User.Subscriptions.length; i++) {%>
			<table style="margin-top : 20px;">
				<tr>
					<th>Subscriptions ID</th>
					<th>:</th>
					<th><%= User.Subscriptions[i].id%></th>
				</tr>
				<tr>
					<th>Total Price</th>
					<th>:</th>
					<th><%= User.Subscriptions[i].totalPrice%></th>
				</tr>
				<tr>
					<th>Daily Allocations</th>
					<th>:</th>
					<th><%= User.Subscriptions[i].dailyAllocation%></th>
				</tr>
				<tr>
					<th>Start Date</th>
					<th>:</th>
					<th><%= User.Subscriptions[i].startDate%></th>
				</tr>
				<tr>
					<th>End Date</th>
					<th>:</th>
					<th><%= User.Subscriptions[i].endDate%></th>
				</tr>
			</table>
			<%}%>
				</div>
	</body>
</html>
