<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<%- include('../partials/bootstrapCDN') %>
		<title>Document</title>
	</head>
	<body>
		<%- include('../partials/navbar', { title: 'Subscription', User })%>

		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1>Subscription</h1>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3>Your Subscriptions</h3>
				</div>
				<div class="col-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>No.</th>
								<th>Starting Date</th>
								<th>Expiring In</th>
								<th>Subscription Price</th>
							</tr>
						</thead>
						<tbody>
							<% let count = 0 %> <% for (const sub of User.Subscriptions) { %> <% if (!sub) break
							%> <% if (sub.expiring() == 'Expired') continue %>

							<tr>
								<td><%= count + 1 %></td>
								<td><%= sub.startDate %></td>
								<td><%= sub.expiring() %></td>
								<td><%= helpers.convertToRp(sub.totalPrice) %></td>
							</tr>

							<% count++ %> <% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="container">
			<form action="" method="post" class="row justify-content-center">
				<h3 class="col-12 text-center">Add New Subscription</h3>
				<div class="col-8">
					<div class="form-row">
						<div class="form-group col-4">
							<label for="totalPrice">Subscription Amount : </label>
							<input type="number" class="form-control" name="totalPrice" id="totalPrice" />
						</div>
						<div class="form-check form-check-inline col">
							<input name="expire" class="form-check-input" type="radio" id="radio1" value="7" />
							<label class="form-check-label" for="radio1">1 week</label>
						</div>
						<div class="form-check form-check-inline col">
							<input name="expire" class="form-check-input" type="radio" id="radio2" value="14" />
							<label class="form-check-label" for="radio2">2 weeks</label>
						</div>
						<div class="form-check form-check-inline col">
							<input name="expire" class="form-check-input" type="radio" id="radio3" value="30" />
							<label class="form-check-label" for="radio3">1 month</label>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="row justify-content-center">
						<% for (const product of Products) { %>

						<div class="card col-3 m-1">
							<img
								src="https://cdn2.tstatic.net/bangka/foto/bank/images/sajian-tahu-goreng-tepung-ketumbar.jpg"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5 class="card-title"><%= product.productName %></h5>
								<div class="form-group">
									<label for="amount">Price: <%= product.priceInRp %></label>
									<input type="number" name="amount" id="amount" value="0" />
								</div>
							</div>
						</div>

						<% } %>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
