<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<%- include('../partials/bootstrapCDN') %>
		<title>User Detail</title>
		<style></style>
	</head>
	<body>
		<%- include('../partials/navbar', {title: 'User'})%>

		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1>Welcome, <%= User.Personal ? User.Personal.fullName : User.username %></h1>
				<% if (!User.Personal || !User.Personal.fullName || !User.Personal.address ) { %>

				<small
					>Your personal data is not completed yet. <a href="/user/edit">Complete it now.</a></small
				>

				<% } %>
			</div>
		</div>

		<div class="container">
			<div class="row" style="width: 50vw;">
				<div class="col-10">
					<h2>Your Personal Data</h2>
				</div>
				<div class="col-2 float-right">
					<a href="/user/edit" class="btn btn-primary">Edit</a>
				</div>
				<table class="table table-dark">
					<tr>
						<% if (!User.Personal || !User.Personal.fullName) { %>

						<th>Username</th>
						<th>:</th>
						<td><%= User.username %></td>

						<% } else { %>

						<th>Full Name</th>
						<th>:</th>
						<td><%= User.Personal.fullName %></td>

						<% } %>
					</tr>
					<tr>
						<th>Email</th>
						<th>:</th>
						<td><%= User.email || '' %></td>
						<td></td>
					</tr>
					<tr>
						<th>Phone Number</th>
						<th>:</th>
						<td><%= User.Personal ? User.Personal.phone || '' : '' %></td>
						<td></td>
					</tr>
					<tr>
						<th>Address</th>
						<th>:</th>
						<td><%= User.Personal ? User.Personal.address || '' : '' %></td>
						<td></td>
					</tr>
					<tr>
						<th>Balance</th>
						<th>:</th>
						<td><%= User.balanceInRp %></td>
						<td></td>
					</tr>
					<tr>
						<th>Subscription(s)</th>
						<th>:</th>
						<td><%= User.Subscriptions.length %></td>
						<td>
							<a href="/subscription"
								><%= User.Subscriptions.length > 0 ? 'View Subscriptions' : 'Subscribe' %></a
							>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
