<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<%- include('../partials/bootstrapCDN') %>
		<title>Document</title>
		<style>
		</style>
	</head>
	<body>
		<%- include('../partials/navbar', {title: 'User', User})%>

		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1>Welcome, <%= User.Personal ? User.Personal.fullName : User.username %></h1>
				<% if (!User.Personal || !User.Personal.fullName || !User.Personal.address ) { %>

				<small
					>Your personal data is not completed yet.
					<a href="/<%= User.id %>/user/edit">Complete it now.</a></small>

				<% } %>				
			</div>
		</div>

		<div class="table table-dark" style="width: 60%; margin: 0% auto;">			
			<table>
				<tr>
					<th>Name</th>
					<th> : </th>
					<th><%= User.Personal.fullName%></th>
				</tr>
				<tr>
					<th>Email</th>
					<th>:</th>
					<th><%= User.email%></th>
				</tr>
				<tr>
					<th>Phone</th>
					<th>:</th>
					<th><%= User.Personal.phone%></th>
				</tr>
				<tr>
					<th>Address</th>
					<th>:</th>
					<th><%= User.Personal.address%></th>
				</tr>					
			</table>	
		</div>

		<div class="table table-striped" style="width: 60%; margin: 0% auto;">
			<table>
				<tr>
					<th>Here are all the data from your subscriptions : </th>
				</tr>
			</table>
			<%for (let i = 0; i<User.Subscriptions.length; i++) {%>
				<table style="margin-top : 20px;">
					<tr>
						<th>Subscriptions ID</th>
						<th>:</th>
						<th><%= User.Subscriptions[i].id%></th>
					</tr>
					<tr>
						<th>Total Price</th>
						<th>:</th>
						<th><%= User.Subscriptions[i].totalPrice%></th>
					</tr>
					<tr>
						<th>Daily Allocations</th>
						<th>:</th>
						<th><%= User.Subscriptions[i].dailyAllocation%></th>
					</tr>
					<tr>
						<th>Start Date</th>
						<th>:</th>
						<th><%= User.Subscriptions[i].startDate%></th>
					</tr>
					<tr>
						<th>End Date</th>
						<th>:</th>
						<th><%= User.Subscriptions[i].endDate%></th>
					</tr>
				</table>
			<%}%>
		</div>
	</body>
</html>
